<!-- jQuery -->
<script src="/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/piwik.js"></script>
<noscript><p><img src="//piwik.pyprism.me/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>