<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('.././partials/head.ejs') %>
    <link href="/css/login.css" rel="stylesheet">
    <link href="/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

</body>
<%- include('.././partials/sidebar.ejs') %>

<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
<div class="col-md-4 col-md-offset-4">
    <form class="form-signin" action="/dashboard/add" method="post">
        <h2 class="form-signin-heading">Enter URL</h2>
        <input type="url" class="form-control url" name="url" placeholder="Enter Your Fucking URL :D" required="" autofocus="" />
        <br/>
        <div id="prefetch">
        <input type="text" class="form-control typeahead" name="tag" placeholder="Tag" required=""/>
        </div>
        <br/>
        <input type="text" class="form-control title" name="title" placeholder="Title" required=""/>
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
    </form>
</div>
    </div>

<!-- /#page-content-wrapper -->

<%- include('.././partials/footer.ejs') %>
<script src="/js/title.js"></script>
<script src="/bower/typeahead.js/dist/bloodhound.min.js"></script>
<!-- Menu Toggle Script -->
<script>
    $(document).ready(function() {
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

    });

</script>
</html>