<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('.././partials/head.ejs') %>
    <link href="/css/simple-sidebar.css" rel="stylesheet">
</head>

<body>

</body>
<%- include('.././partials/sidebar.ejs') %>

<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->

<%- include('.././partials/footer.ejs') %>
<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
</html>